<html>
    <head>
        
    </head>
    <body>
        <div class="flex-container">
            <div>
                Council Name: 
                <span>OutReach Chennai Mpez</span>
            </div>
            <div>
                Event Name:
                <span>Bags of Joy Distribution</span>
            </div>
            <div>
                Event Description:
                <span>
                    Thank you for all your donations of food items to make this a good Xmas for everyone! 
					Come be a Santa and distribute these Bags of Joy to elderly low income residents in Central Singapore and feel the joy of giving!
					Friends and family welcome!
                </span>
            </div>
            <div>
                Project:
                <span>Be_a_Teacher_025</span>
            </div>
            <div>
                Project Category:
                <span>Computer / Digital Literacy(117)</span>
            </div>
            <div>
                Event Date:
                <span>02-02-2019</span>
            </div>
            <div>
                Total Volunteers:
                <span>6</span>
            </div>
            <div>
                POC ID:
                <span>511371</span>
            </div>
			<div>
                POC Name:
                <span>Ayyappa</span>
            </div>
            <div>
                Transport Boarding Type:
                <span>No Transport</span>
            </div>
			<div style="display:none;">
                Transport Required:
                <input type="checkbox" name="transportRequired" value=""> 
            </div>
			<div style="display:none;">
                Transport Boarding point:
                <span>Mpez</span>
            </div>
			<div style="display:none;">
                Transport Drop point:
                <span>Mpez</span>
            </div>
            <div>
				<input type="button" name="back" value="Back to Events">
                <input type="button" name="registerEvent" value="Register Event">
            </div>
        </div>
    </body>
</html>